@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
  <h1 class="display-4">Trabajo Practico N° 1 - Ingenieria de Software</h1>
  
</div>
<div class="row">
  <div class="col-md-6 offset-3">


    <a
      class="btn btn-primary btn-block mt-5"
      asp-area=""
      asp-controller="Clientes"
      asp-action="Index"
      >Clientes
    </a>
  </div>
</div>
